# Gemini API Key from Google AI Studio
GEMINI_API_KEY=your_gemini_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
# Financial Datasets API Key
#FINANCIAL_DATASETS_API_KEY=your_financial_datasets_api_key_here

# App Settings
DEFAULT_MODEL=gemini-1.5-pro
TOP_K=5
USE_FINANCIAL_DATASETS=true

FINANCIAL_DATASETS_AI_API_KEY = your_financial_datasets_api_key_here
FINANCIAL_DATASETS_API_KEY = your_financial_datasets_api_key_here